 .navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease;
  }


  .navbar-nav .nav-link:hover {
    color: #dfeaff !important;
  }

  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  #cFULL{
    background-color: #4682B4;
  }