
#btMiniDash{
    background-color: #dae1eb;
}
#btMiniDash:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 18px rgba(255, 0, 0, 0.08);
    transition: 0.2s;
    background-color: #959eaa;
    border-radius: 14px;
}

.dashcard{
    padding: 9px 9px;
    font-size: 12px;
    border-radius: 10px;
    font-weight: 40;
    box-shadow: 0 8px 25px rgba(28, 132, 193, 0.1);
    transition: 1.2s;
    background: #fff5f5;
 
}

.dashcard:hover{
    transform: translateY(-3px);
   box-shadow: 0 8px 25px rgba(28, 132, 193, 0.1);
    transition: 0.5s;
    background-color: #d4e5ff;
}