:root{
    --cor-fundo: #788caa;
}    
    
    
    body {
        background: #788caa;
    }

    .login-card {
        margin: auto;
        width: 350px;
        background: #fff;
        padding: 35px 30px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
        
    }

    .logo-circle {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: rgba(70, 130, 180, 0.15);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-inner {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: #4682B4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }

    .title-login {
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #333;
    }

    .btn-primary {
        width: 100%;
        border-radius: 8px;
        padding: 10px;
        background-color: #4682B4 !important;
    }

    label {
        font-weight: 500;
        margin-bottom: 3px;
        color: #555;
    }